body {
    background: rgb(0, 0, 0)
}

main{

        max-width: 100px
        display: grid;
        grid-template-rows: 1fr
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "date"
        "autor" 
        "header4" 
        "header5" 
    {
    #logo{
    grid-area:logo}
    
    }
    
}