body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background: rgb(0, 0, 0);
    margin: 10px;

    p {
        background: white;
    }
      
}
#ostatni    {
    padding: 100px
}

.duży{
    font-size: 30px;
}

.niebieski{
    color: red
}
